body{
    margin: 0;
    text-align: center;
    background-color: #c0c0c0;
    justify-content: center;
}
.intro{
    background-color: #e0e0e0;
    padding: 5px;
}
.info{
    background-color: #c0c0c0;
    padding: 5px;
}
.copyright{
    background-color: #a0a0a0;
    padding: 5px;
}
h1{
    font-family: 'Roboto', sans-serif;
    color: #2B2B37;
    font-size: xx-large;
}
h2, h3{
    font-family: 'Roboto', sans-serif;
    color: #2B2B37;
    font-size: x-large;
}
p, ul, dl{
    font-family: 'Open Sans', sans-serif;
    color: #545469;
    font-size: large;
}
a{
    color:#0059A6;
    text-decoration: none;
}
a:hover{
    color: #0089FF;
}
.contact{
    background-color: grey;
    color: #CECECE;
    text-decoration: none;
    padding: 10px;
}
hr{
    border-width: 3px;
    border-style: ridge;
}
.ugalogo{
    position: absolute;
    left: 0;
    border-radius: 10px;
}
.pcpic{
    position: absolute;
    right: 0;
    border-radius: 10px;
}
.lang{
    align-items: center;
    column-count: 2;
    column-width: 200px;
}
.lang-left{
    float: right;
    width: 50%;
    margin-right: 10px;
    position: relative;
    left: -30px;
}
.lang-right{
    float: left;
    width: 50%;
    margin-left: 10px;
    position: relative;
    left: -20px;
}
.exp{
    align-items: center;
    column-count: 2;
    column-width: 200px;
}
.exp-left{
    float: left;
    width: 1300px;
    margin-right: 0px;
    height:200px;
    align-content: center;
}
.exp-right{
    float: left;
    width: 100px;
    margin-left: 150px;
    align-content: center;
    justify-content: center;
    position: relative;
    top: -40px;
}
.skills{
    align-items: center;
    column-count: 2;
    column-width: 200px;
}
.skills-left{
    float: right;
    width: 700px;
    margin-right: 0px;
    height:300px;
    align-content: center;
    position: relative;
    right: -100px;
}
.skills-right{
    float: left;
    width: 100px;
    margin-left: 150px;
    align-content: center;
    justify-content: center;
    position: relative;
    top: -60px;
}
.cr-border{
    background-color: #006ECE;
    color: #006ECE;
    border-width: 3px;
    border-style:solid;
}
.card {
    background-color:darkgrey;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    align-items: center;
    width: fit-content;
    justify-content: center;
    margin-left: 42%;
  }
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
    display: flex;
    justify-content: center;
    gap: 10px 20px;
    width: fit-content;
    align-items: center;
}