.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #1c1c1c; /* Dark background for footer */
  }
  
  .linkedin-link {
    color: #58a6ff; /* LinkedIn blue color */
    transition: color 0.3s ease;
  }
  
  .linkedin-link:hover {
    color: #0072b1; /* Darker LinkedIn blue when hovered */
  }
  